/* make it look good */

body {
  background-color: #684e32;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-size: cover;
  font-family: sans-serif;
  color: #9B8816;
  
}
header {
  background-color: #F98948;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header * {
  display: inline;
}
header li {
  margin: 20px;

}
header li a {
  color: white;
  text-decoration: none;
  text-align: center;
}
